/*style.css*/

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #AAA2C2;
}

.background {
    background-color: white;
    height: auto;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* ---------- 달력 관련 css ---------- */

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-weight: 600;
}

.Calendar>tbody>tr>td>p {
    font-family: 'Questrial', sans-serif;
    width: 90%;
    border-radius: 50%;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #cccccc;
}
.choiceDay {
    background: #6A679E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #cccccc;
}

.futureDay:hover {
    background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #6A679E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* ---------- 달력 관련 css 끝 ---------- */

#container {
    padding: 10px;
    display: none;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-evenly;
}

#container2 {
    padding: 10px;
    display: block;
    gap: 10px;
}
#container3 {
    padding: 10px;
    display: none;
    gap: 10px;
}
#container_check {
    padding: 10px;
    display: block;
    gap: 10px;
}
#container_resv {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.resv {                     /* 예약된 시간 버튼 아래 글씨 */
    font-size: 0.8em;
    text-align: center;
}

.collapsible {
    background-color: white;
    color: black;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #F9F9F9;
}
.content_admintime {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease-out;
    background-color: #F9F9F9;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

#dateChoiceMenu2 {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: crimson;
}

hr{
    border : 0px;
    border-top: 1px solid #CCCCCC;
}

.accountBox {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-weight: 400;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 18px;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.resvBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-weight: 400;
    border: 1px solid #CCCCCC;
    padding: 10px 15px 10px 15px;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
}
.resvBoxDisable {       /*이미 지난 날짜 비활성화 표시*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    font-weight: 400;
    border: none;
    padding: 10px 15px 10px 15px;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    height: 33.3333px;
}


/* ---------- 버튼 관련 css ---------- */
.btn {              
    text-decoration: none;       
    border: 1px solid #6A679E;  
    color: #6A679E;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.btn:hover {
    background-color: #6A679E;
    color: white;
}

.btn_clicked {      
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;     

    text-decoration: none;                
    border: 1px solid #6A679E;  
    background-color: #6A679E;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.btn_clicked:hover {
    background-color: #595787;
}

.btn_noborder {          
    border: none;   
    background-color: transparent;
    text-decoration: none;  
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
             
    color: #6A679E;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;

}
.btn_noborder:hover {
    background-color: #6A679E;
    color: white;
}

.btnred_clicked {       
    text-decoration: none;                
    border: 1px solid darkred;  
    background-color: darkred;
    color: white;
    padding: 5px;
    border-radius: 5px;
    /*cursor: pointer;*/
    transition: .2s;
}

.btn_resv {              
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    
    text-decoration: none;  
    background-color: white;
    border: 1px solid #CCCCCC;
    color: #6A679E;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_disable {              
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    
    text-decoration: none;  
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    color: #CCCCCC;
    padding: 10px;
    border-radius: 5px;
}


.editform {
    display: inline;    
    padding: 0;
    margin :0;
}

.resvform {
    display: inline-block;
    text-align: center;
}
/* ---------- 로그인 관련 css ---------- */

.loginform {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.login {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    font-weight: 700;
    transition: .2s;
    width: 75%;
}
.login:active,
.login:focus,
.login:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.btn_login {            
    border: none;
    width: 75%;
    background-color: #6A679E;
    color: white;
    padding: 15px 0;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.btn_login:hover {
    background-color: #595787;
}